services:
  openwebui:
    pull_policy: always
    image: ghcr.io/njbrake/brake-chat:main
    container_name: openwebui
    restart: unless-stopped
    volumes:
      - openwebui_data:/app/backend/data
    ports:
      - "3000:8080"
    environment:
      - OLLAMA_BASE_URL=${OLLAMA_BASE_URL:-http://host.docker.internal:11434}
      - WEBUI_URL=${WEBUI_URL}
      - WEBUI_SECRET_KEY=${WEBUI_SECRET_KEY}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
      - ENABLE_OAUTH_SIGNUP=${ENABLE_OAUTH_SIGNUP:-true}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - app-network

  # jellyfin:
  #   image: jellyfin/jellyfin:latest
  #   container_name: jellyfin
  #   restart: unless-stopped
  #   volumes:
  #     - jellyfin_config:/config
  #     - jellyfin_cache:/cache
  #     # - ${MEDIA_PATH:-/media}:/media:ro
  #   ports:
  #     - "8096:8096"
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #   networks:
  #     - app-network

  ngrok:
    image: ngrok/ngrok:latest
    container_name: ngrok
    restart: unless-stopped
    command:
      - "tunnel"
      - "--label"
      - "edge=edghts_2w8..."
      # - "jellyfin:8096"
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
    # depends_on:
    #   - jellyfin
    networks:
      - app-network

volumes:
  openwebui_data:
  # jellyfin_config:
  # jellyfin_cache:

networks:
  app-network:
    driver: bridge
